@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
}

* body, html {
  margin: 0;
  font-family: "roboto", sans-serif;
}

.logo {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: center;
}

.contenu-restaurant a {
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  top: 4%;
  left: 3rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 24px;
}

img {
  display :flex;
  width: 100%;
  height: 17rem;
  object-fit: cover;
}


.titre-menu h2 {
  margin-bottom: 10px;
}

.bloc-menu {
  background: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  margin-top: -3rem;
  padding-bottom: 60px;

}


/* div coeurs */
.loader {
  display: flex;
  margin-top: -32px;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  right: 35px;
}

.one {
  margin-top: -32px;
  right: 35px;
  font-size: 25px; 
  position: absolute;
  color: transparent;
  }

.two:hover {
  font-size: 25px;
  right: 20px;
  background: linear-gradient(#9356DC, #FF79DA);
  color: #fff;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s ease-in-out both;
  }
  
  @keyframes animate {
    0% {
      background-position: left 0px top 180px;
    }
    100% {
      background-position: left 0px top 10px;
    }
  }


.titre-menu {
  font-family: "Shrikhand", sans-serif;
  padding: 1rem 1.5rem;
  font-size: 18px;
  margin-bottom: -30px;
}

.sous-titre h3 {
  padding: 0 1.5rem;
  padding-bottom: 0.5rem;
  font-size: 15px;
}

.sous-titre :after {
    content: "";
    width: 2.7rem;
    height: 0.2rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 24px;
}

.sous-titre h3 {
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  margin-top: 30px;
}

.menus {
  padding: 0 1rem;
}

.differents-menus {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  animation: appear .9s;
  animation-fill-mode: both;
}

.titre-paragraphe {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.differents-menus h4 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.differents-menus p {
  margin: 6px 0 0 0;
  overflow: hidden;
  white-space: nowrap ;
  text-overflow: ellipsis;
}
  
.menus {

  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
}

.delay-0 {
animation-delay: 0s;
}

.delay-1 {
  animation-delay: .1s;
}

.delay-2 {
  animation-delay: .2s;
}

.delay-3 {
  animation-delay: .3s;
}

.delay-4 {
  animation-delay: .4s;
}

.delay-5 {
  animation-delay: .5s;
}

.delay-6 {
  animation-delay: .6s;
}

.delay-7 {
  animation-delay: .7s;
}

.delay-8 {
  animation-delay: .8s;
}

.delay-9 {
  animation-delay: .9s;
}




@keyframes appear {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(1);
  }
}

.menu-prix {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  margin-left: 4px;  /* marge pour avoir les 3 points de suspensions partout  */
}

.menuItem__icon {
  color: #99e2d0;
}

.menuItem__confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .5s;
}

.menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: .5s;
}


.menuItem__wrapIcon {
  transform: rotate(0);
}

.differents-menus:hover .menuItem__confirmation{
  margin-right: -1rem;
}


.position__label {
  display: flex;
  background-color: #686868;
  background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
  color: #ffffff;
  font-weight: bolder;
  border-radius: 100px;
  justify-content: center;
  padding: 16.5px;
  margin: 50px 100px 0 100px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  width: 100%;
  padding: 10px 0 0 30px;
}

.logo-footer {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content:left;
  font-size: 18px;
  color: whitesmoke;
  margin-bottom: 0px;
}

.footer__proposer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footer h4 {
  color: white;
}

/* marges à droite pour le texte */
.footer__proposer i {
  margin-right: 3px;
}

/* marge pour l'icone ustensile */
.fa-cutlery:before, .fa-utensils:before {
  margin-right: 7px;
}








